EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_TICKETMASTER_API_KEY=
EXPO_PUBLIC_TICKETMASTER_COUNTRY_CODE=US
EXPO_PUBLIC_TICKETMASTER_CITY=Los Angeles
EXPO_PUBLIC_TICKETMASTER_KEYWORD=
EXPO_PUBLIC_TICKETMASTER_RADIUS_MILES=80

EXPO_IOS_BUILD_NUMBER=1
EXPO_ANDROID_VERSION_CODE=1
EXPO_IOS_BUNDLE_IDENTIFIER=com.r4v3.app
EXPO_ANDROID_PACKAGE=com.r4v3.app
